[Desktop Entry]
Name=Image Organizer
Name[de]=Bild Veranstalter
Name[es]=Organizador de Imágenes
Name[fi]=Järjestäjä Kuvia
Name[fr]=Organisateur de Images
Name[id]=Organizer Gambar
Name[it]=Organizzatore di Immagini
Name[ja]=写真の主催者
Name[ms]=Penganjur Imej
Name[pl]=Organizator Obrazu
Name[pt]=Organizador de Imagens
Name[pt_BR]=Organizador de Imagens
Name[ru]=Организатор Изображения
GenericName=Image Organizer
GenericName[de]=Bild Veranstalter
GenericName[es]=Organizador de Imágenes
GenericName[fi]=Järjestäjä Kuvia
GenericName[fr]=Organisateur de Images
GenericName[id]=Organizer Gambar
GenericName[it]=Organizzatore di Immagini
GenericName[ja]=写真の主催者
GenericName[ms]=Penganjur Imej
GenericName[pl]=Organizator Obrazu
GenericName[pt]=Organizador de Imagens
GenericName[pt_BR]=Organizador de Imagens
GenericName[ru]=Организатор Изображения
Comment=View and organize your images
Comment[az]=Rəsmlərinizi nümayiş və idarə edin
Comment[be]=Дазваляе праглядаць і ўтвараць зборы відарысаў
Comment[bg]=Преглед и организиране на вашите изображения
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[ca@valencia]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížejte a organizujte své obrázky
Comment[da]=Vis og organiser dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[dz]=ཁྱོད་རའི་གཟུགས་བརྙན་ཚུ་ སྟོན་བཞིནམ་ལས་  འགོ་འདྲེན་འཐབ།
Comment[el]=Προβάλλετε και οργανώστε τις εικόνες σας
Comment[en_CA]=View and organize your images
Comment[en_GB]=View and organise your images
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaata ja korrasta oma pilte
Comment[eu]=Ikusi eta antolatu zure irudiak
Comment[fa]=تصاویر خود را ببنینید و سازمان‌دهی کنید
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[gl]=Ver e organizar as túas imaxes
Comment[gu]=તમારી ઈમેજો જુઓ અને આયોજિત કરો
Comment[he]=צפייה וארגון התמונות שלכם
Comment[hr]=Prikazujte i organizirajte vaše slike
Comment[hu]=Képek megtekintése és rendszerezése
Comment[id]=Tampilkan dan atur gambar-gambar Anda
Comment[it]=Mostra e organizza le proprie immagini
Comment[ja]=画像を表示しながら管理するツールです
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರಗಳನ್ನು ನೋಡಿ ಹಾಗು ಜೋಡಿಸಿ
Comment[ko]=그림을 보고 관리도 하세요
Comment[lt]=Peržiūrėti ir tvarkyti paveikslėlius
Comment[lv]=Skatīt un organizēt savus attēlus
Comment[mk]=Гледајте ги и организирајте ги Вашите слики
Comment[ms]=Lihat dan pelihara imej anda
Comment[nb]=Vis og organiser dine bilder
Comment[ne]=तपाईँको छविहरू हेर्नुहोस् र संगठित गर्नुहोस्
Comment[nl]=Uw afbeeldingen weergeven en beheren
Comment[pa]=ਆਪਣੇ ਚਿੱਤਰ ਵੇਖੋ ਤੇ ਇਹਨਾਂ ਦੀ ਸੰਭਾਲ ਕਰੋ
Comment[pl]=Widok i organizacja obrazów
Comment[ps]=خپل انځورونه وګورﺉ او سم يې کړﺉ
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Veja e organize as suas imagens
Comment[ro]=Vizualizează și organizează imagini
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sk]=Pozerajte a organizujte svoje obrázky
Comment[sl]=Oglejte in uredite svoje slike
Comment[sq]=Shfaq dhe organizon imazhet tuaja
Comment[sr]=Погледај и организуј своје слике
Comment[sr@Latn]=Pogledaj i organizuj svoje slike
Comment[sv]=Visa och organisera dina bilder
Comment[th]=ดูและจัดการรูปภาพ
Comment[tr]=Resimleri düzenle ve göster
Comment[uk]=Перегляд зображень та ведення альбомів
Comment[vi]=Xem và tổ chức các ảnh của bạn
Comment[xh]=Buka uze ulungise imifanekiso yakho
Comment[zh_CN]=查看及管理图像
Comment[zh_HK]=檢視和組織你的圖片
Comment[zh_TW]=檢視和組織您的圖片
Categories=MATE;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=gthumb %U
Icon=gthumb
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
StartupNotify=true
Terminal=false
Type=Application
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=gthumb
X-MATE-Bugzilla-Component=general
X-MATE-DocPath=gthumb/gthumb.xml
X-MATE-Bugzilla-Version=2.13.1
