Source: ppa-libreoffice
Section: misc
Priority: optional
Maintainer: Distro Astro Developers <devel@distroastro.org>
Uploaders: Bamm Gabriana <bamm@distroastro.org>
Build-Depends: debhelper (>= 8.0)
Standards-Version: 3.9.5
Homepage: http://www.distroastro.org/

Package: ppa-libreoffice
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, gpgv, apt
Recommends: gnupg
Description: LibreOffice PPA repository and GnuPG key
 This package allows you to download and install packages from the LibreOffice
 PPA repository using apt.
