#!/usr/bin/make -f
%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs debian/changes

override_dh_link:
	dh_link /usr/share/bammtest/linkedsource /usr/share/bammtest/linkdest

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/bammtest

