Source: bammtest
Section: science
Priority: optional
Maintainer: Distro Astro Developers <devel@distroastro.org>
Uploaders: Bamm Gabriana <bamm@distroastro.org>
Build-Depends: debhelper (>= 10.0)
Standards-Version: 4.5.0
Homepage: http://www.distroastro.org/

Package: bammtest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test package
 This empty package is a test package for source packages.
