Package: toggle-nightvision
Version: 1.0.2-1
Section: utils
Priority: optional
Architecture: all
Installed-Size: 148
Depends: distroastro-themes, backgrounds-hubble, backgrounds-nightvision
Homepage: http://www.distroastro.org/
Maintainer: Bamm Gabriana <bamm@distroastro.org>
Description: Toggle Nightvision
 Clearskies is a cool mint/metal theme based on Mint-X-Metal which in turn is
 based on mintified versions of Clearlooks Revamp, Elementary and Faenza.
 .
 Nightvision is a theme featuring a dark background and red text for use in the
 dark, particularly during astronomical observation.
 .
 This package provides a simple way to toggle between the two default themes in
 Distro Astro.
